
@using WebApplication2.DAL;
@model List<TrainCar>
@{
   // Layout = null;
   Layout = "~/Views/Default/_LayoutPage2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>AddTicket</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body >
    <div style="padding-left:30%;">
        <div >
            <table >
                <tr>
                    <td><h3>姓名:</h3><input id="txtName" type="text" placeholder="请输入姓名（与身份证保持一致）" style="width:200px;"  /> <span style="color:red" id="nameSpan">*</span></td>
                </tr>
                <tr>
                    <td><h3>身份证:</h3><input id="txtIdCard" type="text" placeholder="请输入18位有效身份证号"/><span style="color:red" id="idcardSpan">*</span></td>
                </tr>
                <tr>
                    <td>
                        <h3>座位类型:</h3>
                        @foreach (var item in Model)
                        {
                            if (item.Trainno.Contains('G'))
                            {
                                <select id="Select1">
                                    <option value="商务座(@item.Pricesw 元)">商务座(@item.Pricesw 元)</option>
                                    <option value="一等座(@item.Pricerz 元)">一等座(@item.Pricerz 元)</option>
                                    <option value="二等座(@item.Priceyz 元 )">二等座(@item.Priceyz 元 )</option>
                                </select>
                            }
                            if (item.Trainno.Contains('D'))
                            {
                                <select id="Select1">
                                    <option value="商务座(@item.Pricesw 元)">商务座(@item.Pricesw 元)</option>
                                    <option value="一等座(@item.Pricerz 元)">一等座(@item.Pricerz 元)</option>
                                    <option value="二等座(@item.Priceyz 元 )">二等座(@item.Priceyz 元 )</option>
                                </select>
                            }
                            if (item.Trainno.Contains('Z'))
                            {
                                <select id="Select1">
                                    <option value="二等座(@item.Priceyz 元)">二等座(@item.Priceyz 元)</option>
                                    <option value="高级软卧(@item.Pricegr1 元)">高级软卧(@item.Pricegr1 元)</option>
                                    <option value="软卧(@item.Pricerw1 元)">软卧(@item.Pricerw1 元)</option>
                                    <option value="硬卧(@item.Priceyw1 元 )">硬卧(@item.Priceyw1 元 )</option>
                                    <option value="无座(@item.Priceyz 元 )">无座(@item.Priceyz 元 )</option>
                                </select>
                            }
                            if (item.Trainno.Contains('T'))
                            {
                                <select id="Select1">
                                    <option value="硬座(@item.Priceyz1 元)">硬座(@item.Priceyz1 元)</option>
                                    <option value="软卧(@item.Pricerw1 元)">软卧(@item.Pricerw1 元)</option>
                                    <option value="硬卧(@item.Priceyw1 元 )">硬卧(@item.Priceyw1 元 )</option>
                                    <option value="无座(@item.Priceyz1 元 )">无座(@item.Priceyz1 元 )</option>
                                </select>
                            }
                            if (item.Trainno.Contains('K'))
                            {
                                <select id="Select1">
                                    <option value="硬座(@item.Priceyz1 元)">硬座(@item.Priceyz1 元)</option>
                                    <option value="软卧(@item.Pricerw1 元)">软卧(@item.Pricerw1 元)</option>
                                    <option value="硬卧(@item.Priceyw1 元 )">硬卧(@item.Priceyw1 元 )</option>
                                    <option value="无座(@item.Priceyz1 元 )">无座(@item.Priceyz1 元 )</option>
                                </select>
                            }
                         }
                    </td>
                </tr>
                <tr>
                    <td><h3>手机号:</h3><input id="txtPhone" type="text" placeholder="请输入11位有效手机号码" style="width:180px;" /><span style="color:red" id="phoneSpan">*</span></td>
                </tr>
            </table>
            <input id="hidden" type="hidden" value="@Session["id"]" />
        </div>
        <div>
            @foreach (var item in Model)
            {
                <p style="color:darkblue;font-size:20px">   <label id="Startdate"> @item.Startdate</label> 出发  <label id="Trainno">@item.Trainno 车次</label>   <a href="#" onclick="DelTrainCar('@item.Trainno')">修改车次</a></p>
                <div>
                    <p style="color:darkblue">   <label id="Station"> @item.Station</label> <label id="Departuretime">@item.Departuretime</label>  -----用时 @item.Costtime-----   <label id="Endstation">@item.Endstation </label> <label id="Arrivaltime">@item.Arrivaltime</label> </p>
                    <div style="width:25%;height:200px; color:red;">
                        <h3>温馨提示</h3>
                        <ul>
                            <li>因火车票实名制购买规定，我司只为真实的消费者代购火车票，我方有权在核实购票人身份时，要求客户提供身份证复印件核实购票人的身份，购票人身份核实通过后，才能完成购票，退票及退款，否则我司不提供售后服务。若行为严重违反铁路机关相关规定的，我司将主动配合公安机关进行查处。</li>
                        </ul>
                    </div>

                </div>
            }
        </div>
        <div><input id="Checkbox1" type="checkbox" />订单提交成功表示已阅读并同意<a href="#">《火车票信息服务协议》</a><a href="#">《预定须知》</a></div>
        <div>
            <input id="Button1" type="button" value="立即预定" class=" btn btn-success" onclick="BuyTicket()" />
            <input id="Button1" type="button" value="返回主页面" class="btn btn-primary" onclick="location.href = '/Default/Index';" />
        </div>
    </div>
</body>
</html>
<script>
    function DelTrainCar(Trainno) {
        $.ajax({
            url: '/Default/DelTrainCar?Trainno=' + Trainno,
            type: 'get',
            success: function (data) {
                if (data > 0) {
                    location.href = '/Default/Train';
                }
                else {
                    alert(1);
                }
            }
        })
    }

    function BuyTicket() {
        var name = $("#txtName").val();
        var idcard = $("#txtIdCard").val();
        var phone = $("#txtPhone").val();
        //验证身份证
        var regIdcard = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
        //验证手机号
        var reg = /^1[3456789]\d{9}$/;
        if (name == "")
        {
            $("#nameSpan").html("请输入用户名");
        }
        else if (name!="")
        {
            $("#nameSpan").html("*");
        }


         if (regIdcard.test(idcard) == false && idcard != null)
        {
            $("#idcardSpan").html("身份号码输入错误");
        }
        else if (regIdcard.test(idcard) == true) {
            $("#idcardSpan").html("*");
         }
         if (idcard == "")
        {
            $("#idcardSpan").html("请输入身份证号码");
         }

         if (reg.test(phone) == false && phone != null)
        {
            $("#phoneSpan").html("手机号输入错误");
        }
        else if (reg.test(phone) == true)
        {
             $("#phoneSpan").html("*");
             var list = {
                Name: $("#txtName").val(),
                IdCard: $("#txtIdCard").val(),
                ZuoWei: $("#Select1").val(),
                Phone: $("#txtPhone").val(),
                Trainno: $("#Trainno").text(),
                Startdate: $("#Startdate").text(),
                Station: $("#Station").text(),
                Endstation: $("#Endstation").text(),
                Departuretime: $("#Departuretime").text(),
                IndentState: '已支付',
                Register_Id: $("#hidden").val(),
             };

            $.ajax({
                url: '/Default/AddIndent',
                type: 'post',
                data: { Ix: list },
                success: function (data) {
                    if (data > 0) {
                        //转到支付页面
                         $.ajax({
                                url: '/Default/Payment',
                                type: 'post',
                                data: { Ix: list },
                                success: function (data) {
                                        $('body').html(data);
                                        alert("预定成功");
                                }
                            })

                    }
                    else {
                        alert('预定失败');
                    }
                }
            })
         }
        if (phone == "")
        {
            $("#phoneSpan").html("请输入手机号");   
        }
            
    }
</script>
